---
---

@import url(https://fonts.googleapis.com/css?family=Play:400,700);

.navbar {
  margin-bottom: 0;
}

.front-header h1 {
  font-size: 3em;
  font-family: Play;
  font-weight: bold;
  text-align: center;
}

.how-to-image {
  margin-top: 3em;
}

h2 {
  font-family: Play;
  font-size: 1.75em;
  font-weight: normal;
}

.site-footer {
  margin-top: 1em;
  color: #808080;
}

@media (min-width: 768px) {
  .front-header h1 {
    font-size: 4em;
  }
  .body p, .body li {
    font-size: 1.2em;
  }
}

@media (min-width: 990px) {
  .front-header h1 {
    margin-top: 2em;
  }
}
